* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'K2D','serif';
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 0.1rem;
}

.title {
  font-weight: bold;
  font-size: 72px;
  line-height: 94px;
}

.subtitle {
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
}

.icon {
  display: none;
}

.hamburger {
  background-image: url(../assets/icono-menu.png);
  background-size: cover;
  height: 20px;
  width: 20px;
}

.btn {
  border: 0;
  border-radius: 30px;
  padding: 12px;
  margin: 10px;
  background-color: #EC5250;
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}

.header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.header .nav-menu .brand {
  padding: 30px;
  width: 400px;
}

.header .nav-menu .brand .img-pomodoro-brand {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

.header .nav-menu .brand .title-pomodoro-brand {
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  position: absolute;
  display: inline;
  color: #CE5D5B;
}

.header .nav-menu .menu a {
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #686868;
  margin-right: 2.5rem;
}

.header .nav-menu .btn-use {
  width: 200px;
}

.section-1 {
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  color: #fff;
  background-color: #686868;
}

.section-1 .title-section-1 {
  position: absolute;
  float: left;
  left: 5%;
}

.section-1 .img-pomodoro {
  position: absolute;
  float: left;
  left: 70%;
  width: 268.07px;
  height: 275.41px;
}

.best-technique-section {
  padding: 40px 80px;
  background-color: #fff;
  height: auto;
}

.best-technique-section .title-best-technique {
  margin-bottom: 20px;
  color: #FC4850;
}

.best-technique-section .container-btnCircle {
  margin: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.best-technique-section .subtitle-circle {
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}

.best-technique-section .btn-circle {
  width: 195px;
  height: 195px;
  padding: 10px 10px;
  border: 0;
  border-radius: 50%;
  background-color: #FC4850;
  color: #fff;
}

.easy-section {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 80px;
  height: 800px;
  background-color: #686868;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.easy-section .title-easy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.easy-section .title-easy .subtitle {
  margin-bottom: 50px;
}

.easy-section .title-easy .btn-easy {
  width: 400px;
  margin: 30px;
}

.testimonial {
  padding: 40px 80px;
  height: 500px;
}

.testimonial .title {
  color: #FC4850;
}

.testimonial .container-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.testimonial .container-testimonial .box-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.testimonial .container-testimonial .box-testimonial .img-avatar {
  width: 200px;
  height: 200px;
  border: 0;
  border-radius: 50%;
}

.testimonial .container-testimonial .box-testimonial .text-testimonial {
  margin: 20px;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.testimonial .container-testimonial .box-testimonial .text-testimonial .fullName {
  color: #FC4850;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 80px;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  background-color: #FC4850;
}

.contact-us .btn-contact-us {
  margin: 40px 20px;
  background-color: #fff;
  color: #FC4850;
  width: 400px;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
}

.footer-pomodoro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #34495E;
  color: #fff;
  height: 100px;
}

.footer-pomodoro .subtitle-footer {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}

@media only screen and (max-width: 721px) {
  .title {
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
  }
  .subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
  }
  .link {
    display: none;
  }
  .icon {
    display: block;
  }
  .main {
    text-align: center;
  }
  .section-1 {
    padding: 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 400px;
    text-align: center;
    width: 100%;
  }
  .section-1 .img-pomodoro {
    left: auto;
    position: relative;
    width: 187.07px;
    height: 189.11px;
  }
  .section-1 .title-section-1 {
    left: auto;
    position: relative;
    width: 100%;
  }
  .best-technique-section {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .best-technique-section .container-btnCircle {
    margin: 50px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .best-technique-section .container-btnCircle .btn-circle {
    margin: 15px;
  }
  .easy-section {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .easy-section .title {
    text-align: center;
    margin-bottom: 40px;
  }
  .easy-section .subtitle {
    margin-bottom: 50px;
  }
  .easy-section .img-phone {
    display: none;
  }
  .easy-section .title-easy .btn-easy {
    margin: 20px 0px;
    width: 100%;
  }
  .testimonial {
    padding-top: 30px;
    padding-bottom: 50px;
    height: auto;
  }
  .testimonial .container-testimonial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-us {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .footer-pomodoro {
    padding: 80px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */