* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: 'K2D','serif';
  letter-spacing: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.header .nav-menu .brand {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  width: 400px;
}

.header .nav-menu .brand .img-pomodoro-brand {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

.header .nav-menu .brand .title-pomodoro-brand {
  position: absolute;
  display: inline;
  color: #CE5D5B;
  font-size: 36px;
}

.header .nav-menu .menu a, .header .nav-menu button {
  font-weight: 600;
  text-decoration: none;
  color: #686868;
  font-size: 20px;
  margin-right: 2.5rem;
}

.header .nav-menu .menu {
  overflow: hidden;
  display: block;
}

.header .nav-menu .btn-use {
  border: 0;
  border-radius: 30px;
  width: 200px;
  padding: 12px;
  background-color: #EC5250;
  color: #fff;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  color: #fff;
  background-color: #686868;
}

.section-1 .title {
  position: absolute;
  float: left;
  left: 5%;
}

.section-1 .img-pomodoro {
  position: absolute;
  float: left;
  left: 70%;
  width: 268.07px;
  height: 275.41px;
}

.icon {
  display: none;
}

.best-technique-section {
  background-color: #fff;
  height: 500px;
  text-align: center;
}

.best-technique-section .title-best-technique {
  color: #FC4850;
}

.best-technique-section .btn-circle {
  padding: 50px;
  height: 200px;
  width: 200px;
  border: 0;
  border-radius: 50%;
  background-color: #FC4850;
}

.easy-section {
  height: 500px;
  background-color: #686868;
  text-align: center;
}

.testimonial {
  text-align: center;
  height: 500px;
}

.contact-us {
  height: 500px;
  text-align: center;
  background-color: #FC4850;
}

.footer-pomodoro {
  height: 100px;
  text-align: center;
  display: block;
}

.hamburger {
  background-image: url(../assets/icono-menu.png);
  background-size: cover;
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 721px) {
  .link {
    display: none;
  }
  .icon {
    display: block;
  }
  .section-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 400px;
    text-align: center;
    width: 100%;
  }
  .section-1 .img-pomodoro {
    left: auto;
    position: relative;
    width: 187.07px;
    height: 189.11px;
  }
  .section-1 .title {
    left: auto;
    position: relative;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */