$color-primary-red: #FC4850;
$color-secundary-red: #CE5D5B;
$btn-red: #EC5250;
$color-white : #fff;
$color-grey: #686868;
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 24px;
    font-family: 'K2D','serif';
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
}

.header{
    .nav-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        color: $color-white;
    
        .brand {
            align-items: center;
            padding: 30px;
            width: 400px;
            
            .img-pomodoro-brand{
                margin-right: 20px;
                width: 40px;
                height: 40px;
            }
            
            .title-pomodoro-brand{
                position: absolute;
                display: inline;
                color: $color-secundary-red;
                font-size: 36px;
            }
        }
        .menu a, button{
            font-weight: 600;
            text-decoration: none;
            color: $color-grey;
            font-size: 20px;
            margin-right: 2.5rem;
        }
        .menu{
            overflow: hidden;
            display: block;
        }
        
        .btn-use{
            border: 0;
            border-radius: 30px;
            width: 200px;
            padding: 12px;
            background-color: $btn-red;
            color: $color-white
         
        }
    }
}


.section-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
    color: $color-white;
    background-color: $color-grey;

    .title{
        position: absolute;
        float: left;
        left: 5%;
    }

    .img-pomodoro{
        position: absolute;
        float: left;
        left: 70%;
        width: 268.07px;
        height: 275.41px;
    }
    
}
.icon{
    display: none;
}


.best-technique-section{
    background-color: $color-white;
    height: 500px;
    text-align: center;
    .title-best-technique{
        color: $color-primary-red;
    }

    .btn-circle{
      padding: 50px;
      height: 200px;
      width: 200px;
      border: 0;
      border-radius: 50%;
      background-color: $color-primary-red;
    }
}

.easy-section{
    height: 500px;
    background-color: $color-grey;
    text-align: center;
}

.testimonial{
    text-align: center;
    height: 500px;
}

.contact-us{
    height: 500px;
    text-align: center;
    background-color: $color-primary-red;
}

.footer-pomodoro{
    height: 100px;
    text-align: center;
    display: block;
}

.hamburger{
    background-image: url(../assets/icono-menu.png);
    background-size: cover;
    height: 20px;
    width: 20px;
}


@media only screen and (max-width: 721px) {
    .link{
        display: none;
    }

    .icon{
      display: block;
    }
  
  .section-1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 400px;
      text-align: center;
      width: 100%;

    .img-pomodoro{
        left: auto;
        position: relative;
        width: 187.07px;
        height: 189.11px;
      }
      .title{
        left: auto;
        position: relative;
        width: 100%;
      }
     
  }
  
}


