$color-primary-red: #FC4850;
$color-secundary-red: #CE5D5B;
$btn-red: #EC5250;
$color-white : #fff;
$color-grey: #686868;
$color-blueDark: #34495E;  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'K2D','serif';
    font-style: normal;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.1rem;
}
.title{
    font-weight: bold;
    font-size: 72px;
    line-height: 94px;
}
.subtitle{
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
}
.icon{
    display: none;
}
.hamburger{
    background-image: url(../assets/icono-menu.png);
    background-size: cover;
    height: 20px;
    width: 20px;
}
.btn{
    border: 0;
    border-radius: 30px;
    padding: 12px;
    margin: 10px;
    background-color: $btn-red;
    color: $color-white;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
}

.header{
    .nav-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        color: $color-white;
      
        .brand {
            padding: 30px;
            width: 400px;
            
            .img-pomodoro-brand{
                margin-right: 20px;
                width: 40px;
                height: 40px;
            }
            
            .title-pomodoro-brand{
                font-weight: normal;
                font-size: 36px;
                line-height: 47px;
                position: absolute;
                display: inline;
                color: $color-secundary-red;
            }
        }
        .menu a{
            font-weight: normal;
            font-size: 24px;
            line-height: 31px;
            text-decoration: none;
            color: $color-grey;
            margin-right: 2.5rem;
        }
      
        .btn-use{
            width: 200px;
        }
    }
}


.section-1{
    padding: 40px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
    color: $color-white;
    background-color: $color-grey;

    .title-section-1{
        position: absolute;
        float: left;
        left: 5%;
    }

    .img-pomodoro{
        position: absolute;
        float: left;
        left: 70%;
        width: 268.07px;
        height: 275.41px;
    }
}

.best-technique-section{
    padding: 40px 80px;
    background-color: $color-white;
    height: auto;

    .title-best-technique{
        margin-bottom: 20px;
        color: $color-primary-red;
    }
    .container-btnCircle{
        margin: 50px 0px;
        display: flex;
        justify-content: space-between;
    }
    .subtitle-circle{
        font-weight: normal;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
    }
    .btn-circle{
      width: 195px;
      height: 195px;
      padding: 10px 10px;
      border: 0;
      border-radius: 50%;
      background-color: $color-primary-red;
      color: $color-white;
    }
}

.easy-section{
    color: $color-white;
    display: flex;
    padding: 40px 80px;
    height: 800px;
    background-color: $color-grey;
    justify-content: space-between;
    .title-easy{
        display: flex;
        flex-direction: column;
        text-align: left;
        .subtitle{
            margin-bottom: 50px;
        }
            .btn-easy{
                width: 400px;
                margin: 30px;
            }
      
    }
}

.testimonial{
    padding: 40px 80px;
    height: 500px;
    .title{
        color: $color-primary-red;
    }
    .container-testimonial{
        display: flex;
        flex-direction: row;
        
        .box-testimonial{
            display: flex;
          
            align-items: center;
            width: 100%;
            .img-avatar{
                width: 200px;
                height: 200px;
                border: 0;
                border-radius: 50%;
            }
            .text-testimonial{
                margin: 20px;
                font-style: italic;
                font-weight: normal;
                font-size: 18px;
                line-height: 23px;

                .fullName{
                    color: $color-primary-red;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 23px;
                  }
            }
           
        }
    }
    
}

.contact-us{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
    height: 500px;
    flex-direction: column;
    color: $color-white;
    background-color: $color-primary-red;
    .btn-contact-us{
        margin: 40px 20px;
        background-color: $color-white;
        color: $color-primary-red;
        width: 400px;
        font-weight: normal;
        font-size: 36px;
        line-height: 47px;
    }
}

.footer-pomodoro{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: $color-blueDark;
    color: $color-white;
    height: 100px;
 
 
    .subtitle-footer{

        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
    }
}




@media only screen and (max-width: 721px) {
    .title{
        font-weight: bold;
        font-size: 36px;
        line-height: 47px;
    }
    .subtitle{
        font-weight: normal;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
    }
   
    .link{
        display: none;
    }

    .icon{
      display: block;
    }
  
   .main{
    text-align: center;

   } 

  .section-1{
      padding: 30px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 400px;
      text-align: center;
      width: 100%;

    .img-pomodoro{
        left: auto;
        position: relative;
        width: 187.07px;
        height: 189.11px;
      }
      .title-section-1{
        left: auto;
        position: relative;
        width: 100%;
      }
     
  }

  .best-technique-section{
   text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;

    .container-btnCircle{
        margin: 50px 0px;
        align-items: center;
        margin: 50px 0px;
        display: flex;
        flex-direction: column;
        .btn-circle{
            margin: 15px;
        }
    }

  }
  .easy-section{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .title{
        text-align: center;
        margin-bottom: 40px;
    }
    .subtitle{
        margin-bottom: 50px;
    }
    .img-phone{
        display: none;
    }
    .title-easy{
        .btn-easy{
            margin: 20px 0px;
            width: 100%;
           }
    }
  }
  .testimonial{
    padding-top: 30px;
    padding-bottom: 50px;
    height: auto;
    .container-testimonial{
        display: flex;
        flex-direction: column; 
    
    }

  }
  .contact-us{
    padding-top: 30px;
    padding-bottom: 50px;
   
  }
  .footer-pomodoro{
    
    padding: 80px;
    text-align: center;
  }
}


